.paginate
{
    margin: 0 auto;
}

button {
    float: left;
    width: 12%;
    height: 10%;
    padding: 2px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #0b7dda;
  }  

  .nouser
  {
    color:red;
    text-align: center;
  }

  .dot
  {
    height: 11px;
    width: 11px;
    
    border-radius: 50%;
    display: inline-block;
    background-color: brown;
  }

  .createdat
  {
    float:right;
  }
  .header-font{
    font-size: smaller;
  }
  .description-text
  {
    font-size: small;
  }
  .box {
    justify-content: center; 
  }